<mat-sidenav-container> 

    <mat-sidenav [opened]="false" mode="over" #sidenav class="sidenav mat-elevation-z6">
        <button mat-icon-button color="warn" class="close" (click)="sidenav.close()">
           <mat-icon color="warn">close</mat-icon>
        </button>
        <div class="divider"></div>
        <app-sidenav-menu [menuItems]="sidenavMenuItems" [menuParentId]="0"></app-sidenav-menu>
        
        
    </mat-sidenav>


    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayoutAlign="space-between center" class="top-toolbar theme-container">
            <span fxHide="false" fxHide.gt-sm>
                <button mat-button (click)="sidenav.toggle()" class="sidenav-toggle">
                    <mat-icon>menu</mat-icon>
                </button> 
            </span>
            <span fxShow="false" fxShow.gt-xs fxLayoutAlign="center center"><mat-icon class="mat-icon-sm">call</mat-icon>  Hotline: (201) 222-5510</span>
            <span fxShow="false" fxShow.gt-sm>Welcome to WestElm!</span>
            <app-top-menu></app-top-menu>       
        </mat-toolbar-row>
        <mat-toolbar-row fxLayoutAlign="space-between center" class="logo-toolbar theme-container">
            <a class="logo" routerLink="/" (click)="closeSubMenus()">IamJaymin</a>
          
           

            <div fxFlexOffset="10" fxLayout="row" fxLayoutAlign="center center">                

                <div fxLayoutAlign="center center">
                    <button mat-button [matMenuTriggerFor]="cartMenu" #cartMenuTrigger="matMenuTrigger" class="flex-row-button">
                        <mat-icon class="mat-icon-lg">shopping_cart</mat-icon>
                        <span *ngIf="appService.Data.cartList.length > 0" class="cart-items-count">{{appService.Data.cartList.length}}</span>
                        <div fxLayout="column" fxLayoutAlign="center center" fxShow="false" fxShow.gt-xs class="top-cart">
                            <span>Shopping Cart</span>
                            <span *ngIf="appService.Data.cartList.length > 0">{{appService.Data.cartList.length}} item<span *ngIf="appService.Data.cartList.length > 1">s</span> - 
                                $<span>{{appService.Data.totalPrice | number : '1.2-2'}}</span>
                            </span>
                        </div>
                        <mat-icon class="mat-icon-sm">arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #cartMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="top-menu-dropdown cart-dropdown">
                        <span (mouseleave)="cartMenuTrigger.closeMenu()" class="d-block">
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="text-muted">
                                <b><span>{{appService.Data.cartList.length}} ITEM<span *ngIf="appService.Data.cartList.length > 1">S</span></span></b>
                                <b><a [routerLink]="['/cart']" class="text-muted">VIEW CART</a></b>
                            </div>
                            <div class="divider mt-1"></div>
                            <div *ngIf="appService.Data.cartList.length == 0" class="py-1 text-muted text-center">You have no items in your shopping cart.</div>
                            <mat-list>
                                <mat-list-item *ngFor="let product of appService.Data.cartList">                                   
                                    <h3 matLine class="text-muted"> {{product.name}} </h3>
                                    <p matLine class="text-muted">
                                        <span> 1 x ${{product.newPrice | number : '1.2-2'}} </span>
                                    </p>
                                    <img  [src]="product.images[0].small" alt="image">
                                    <button mat-icon-button color="warn" class="remove" (click)="remove(product);stopClickPropagate($event)" matTooltip="Remove" matTooltipPosition="before">
                                        <mat-icon class="mat-icon-sm">close</mat-icon>
                                    </button>
                                </mat-list-item>
                            </mat-list>
                            <div *ngIf="appService.Data.cartList.length > 0" class="cart-dropdown-footer">
                                <div class="divider mt-1"></div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="text-muted mt-1">
                                    <b>TOTAL:</b>
                                    <b class="new-price">${{appService.Data.totalPrice | number : '1.2-2'}}</b>
                                </div>
                                <div class="divider mt-1"></div>
                                <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-1">
                                    <button mat-mini-fab color="warn" (click)="clear();stopClickPropagate($event)" matTooltip="Clear All" matTooltipPosition="after">
                                        <mat-icon>remove_shopping_cart</mat-icon>
                                    </button>
                                    <a [routerLink]="['/checkout']" mat-mini-fab color="primary" matTooltip="Checkout" matTooltipPosition="before">
                                        <mat-icon>check</mat-icon>
                                    </a>
                                </div>
                            </div>
                        </span>
                    </mat-menu>
                </div>

            </div>
            
        </mat-toolbar-row>
    </mat-toolbar> 


 
    <app-menu fxShow="false" fxShow.gt-sm></app-menu>  

    
    <div class="theme-container main"> 
        <app-breadcrumb></app-breadcrumb>
        <router-outlet></router-outlet>
    </div>
    

    <app-options></app-options>

    <app-footer></app-footer>

    <div *ngIf="showBackToTop" fxLayout="row" fxLayoutAlign="center center" class="back-to-top transition" (click)="scrollToTop()">
        <mat-icon>arrow_upward</mat-icon>
    </div>


 </mat-sidenav-container>