<mat-toolbar class="top-navbar mat-elevation-z2" fxLayoutAlign="center center">
    <a mat-button routerLink="/" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
    
    <a mat-button [routerLink]="['/', '']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Furniture</a>
    <a mat-button [routerLink]="['/', '']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Outdoor</a>
    <a mat-button [routerLink]="['/', '']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Rugs</a>
    <a mat-button [routerLink]="['/', '']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Bedding</a>
    <a mat-button [routerLink]="['/', '']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Bath</a>

</mat-toolbar>

