<div *ngIf="product" class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper h-100">
        <div *ngFor="let prod of product" class="swiper-slide">
            <mat-card class="product-item">
                <mat-chip-list *ngIf="prod.messages[0]">
                    <mat-chip color="warn" selected="true">{{prod.messages[0]}}</mat-chip>
                </mat-chip-list>
                <a class="image-link" [routerLink]="['/products', prod.id,  prod.name]">
                    <img [src]="prod.hero.href" class="swiper-lazy" />
                </a>
                <!-- <h4 class="category text-muted">{{ prod.name }}</h4>                                                                      -->
                <a [routerLink]="['/products', prod.id,  prod.name]" class="title text-truncate">
                    {{ prod.name }}
                </a>
                <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                    <div fxLayout="column" fxLayoutAlign="center start">
                        
                        <p class="new-price">Price Range: ${{prod.priceRange.selling.low}} - ${{prod.priceRange.selling.high}}</p>
                    </div>
                    <!-- <app-rating [ratingsCount]="product.ratingsCount" [ratingsValue]="product.ratingsValue" [direction]="'column'"></app-rating> -->
                </div>                            
                <div class="divider mt-2"></div>
                <div class="icons">
                    <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls>
                </div>
            </mat-card>
        </div>
    </div>
    <button mat-mini-fab class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
    <button mat-mini-fab class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
</div>